img {
  max-width: 50px;
}

.login {
  background-color: white;
  color: grey;
  border: white;
}

#button2:hover {
  color: #000000;
  background-color: #ffffff;
}

.signin {
  background-color: #1ad844;
  border: #1ad844;
}

#signup:hover {
  background-color: #218838;
  border: #218838;
}

.search {
  align-self: center;
}

form {
  padding-top: 100px;
  align-self: center;
}

.search {
}

